<div class="modal fade bd-example-modal-lg modal-color" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg inside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formLabel">Add Shipment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="p-5 bg-info" method="post" id="myForm" name="form_name" >
                <div class="form-group">
                    <input type="id" class="form-control" name="shipmentId" id="exampleFormControlInput1" placeholder="Shipment Id">
                </div>
                <div class="form-group">
                    <select class="form-control" name="location" id="exampleFormControlSelect1" aria-placeholder="Location">
                        <option>Origin</option>
                        <option>Destination</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="description" id="exampleFormControlSelect1" aria-placeholder="Description">
                        <option>NOR Tendered</option>
                        <option>Vessel Sailed</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input data-date-format="dd/mm/yyyy" name="date" id="datepicker" placeholder="Date">
                    </div>
                    <div class="col">
                        <input type="time" class="form-control" name="time" id="time" placeholder="Time">
                    </div>
                    <div class="col">
                        <input type="id" class="form-control" name="volumerecorded" id="volume" placeholder="Volume">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>