<div class="modal fade bd-example-modal-lg modal-color" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg inside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formLabel">Add Shipment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="p-auto">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Shipement ID</label>
                    <input type="id" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Location</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Origin</option>
                        <option>Destination</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Event Description</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>NOR Tendered</option>
                        <option>Vessel Sailed</option>
                    </select>
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">NOR Date</label>
                    <input data-date-format="dd/mm/yyyy" id="datepicker">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">NOR Time</label>
                    <input type="time" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Vessel Sail Date</label>
                    <input data-date-format="dd/mm/yyyy" id="datepicker">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Vessel Sail Time</label>
                    <input type="time" class="form-control" id="exampleFormControlInput1">
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>